parameters:
    level: max
    paths:
        - src
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - "#no value type specified in iterable type#"
        - "#ReflectionClass constructor expects class-string<T of object>|T of object, string given#"
